.search-input-form-container{
    padding : 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.search-input{
    flex : 1;
    outline: none;
    border:none;
}

.search-btn{
    padding: 0.3rem 1rem; 
    border: none;
    background-color: orange;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in
}

.search-btn:hover{
    background-color: #fa7727;
}